body{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #ebf4ec;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	background: #ebf4ec;
	color: #000000;
	padding-top: 40px;
	min-height: 70px;
}

header li{
	float: left;
	display: inline;
	padding: 0 25px 0 25px;
}

header #title{
	float: left;
}

header #title h1{
	margin: 0;
	font-size: 36px;
}

header #title h1 a{
	color: #000000;
	text-decoration: none;
}

header nav{
	float: right;
	margin: 10px 0 0 0;
}

header nav a{
	color: #000000;
	text-decoration: none;
	font-size: 25px;
}


header nav a:hover{
	text-decoration: underline;
}

/* Banner */
#banner{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 125px 0 0 0;
}

#banner img{
	max-width: 85%;
	height: auto;
	padding: 0 0 0 5vw;
}

#banner h1{
	padding: 5vw;
	text-align: center;
	font-size: 20px;
}

/* Directory */
.directory h1{
	padding-top: 50px;
}

.directory p{
	padding-bottom: 50px;
	font-size: 24px;
	line-height: 2.5;
}

.directory p a{
	color: #000000;
	text-decoration: none;
	font-size: 25px;
}


.directory p a:hover{
	text-decoration: underline;
}

/* Article */
.article h1{
	padding-top: 50px;
}

.content{
	display: flex;
	align-items: center;
	padding-top: 25px;
}

.content p{
	padding-left: 100px;
	font-size: 18px;
	text-align: justify;
	flex-grow: 1;
}

.content ul{
	padding-left: 100px;
}

.content-text{
	display: flex;
	flex-direction: column;
}

.carousel-portrait,
.image-portrait{
	width: 300px;
	height: auto;
}

.carousel-landscape,
.image-landscape{
	width: 500px;
	height: auto;
}

.owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}

.item-links{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.item-links li{
	display: inline;
	padding: 0 25px 0 0;
	font-weight: normal;
	font-size: 14px;
}

.item-links a{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}


.item-links a:hover{
	text-decoration: underline;
}

/* Footer */
footer{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0 50px 20px 0;
	font-size: 20px;
}

/* Media Queries */
@media only screen and (max-width: 1080px){
	header #title, 
	header nav, 
	header nav li,
	.directory,
	.container{
		float: none;
		text-align: center;
		width: 98%;
		overflow: auto;
	}

	header #title h1{
		margin: 0 25px 0 25px;
	}

	#banner{
		padding: 40px 0 40px 0;
	}

	#banner img{
		padding: 0 5vw 0 5vw;
	}

	.content{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
	}

	.content p{
		text-align: center;
		padding: 25px 50px 25px 50px;
	}

	.content ul{
		padding: 0 50px 50px 50px;
	}

	.item-links{
		justify-content: center;
		padding-top: 0;
	}
}

@media only screen and (max-width: 550px){
	.carousel-landscape,
	.image-landscape{
		width: 300px;
	}
}

@media only screen and (max-width: 450px){
	.directory p,
	.directory p a{
		font-size: 20px;
	}

	.directory h1,
	.article h1,
	.content{
		padding-top: 10px;
	}
}